@tbmj-red: #932a33;
@link-color: @tbmj-red;

a {
  color: @tbmj-red;

  &:hover {
    color: darken(@tbmj-red, 10%);
  }
}


.navbar-header {
  background-color: #FFF;
  min-width: 299px;
  padding-top: 10px;
}

.navbar-default {
  background-color: #FFF;
}

.navbar-default .navbar-nav {
  background-color: #FFF;

  li {
    a {
      color: @link-color;
      font-size: 1.5em;

      &:hover {
        color: darken(@link-color, 10%);
      }
    }
  }
}

.navbar {
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#logo {
  padding-left: 5px;
}

.treat {
  margin-top: 20px;
  padding-bottom: 50px;
}

.gallery {

  .treat {
    margin-bottom: 10px;
    min-height: 333px;
  }
}

.jumbotron {

  .btn {
    background-color: @tbmj-red;
  }

}

#cta {
  p {
    color: #000;
    margin-bottom: 10px;
    text-align: left;
  }

  a.btn {
    float: right;
  }
}

.jumbotron-fancy {
  background-color: #000;

  p {
    color: #FFF;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5%;
  }
}

.pricing {

  .btn-primary {
    float: right;
    margin-top: 10px;
    border-color: @tbmj-red;
    background-color: @tbmj-red;

    &:hover {
      background-color: darken(@tbmj-red, 10%);
    }
  }

  img {
    max-width: 250px;
  }
}

.photo-row {
  padding-top: 2em;

  img {
    border: 3px solid #000;
  }
}

.copy {
  padding-top: 2em;
}

footer {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  background: #000;
  color: #fff;
  text-align: right;
  min-height: 200px;

  a {
    color: #FFF;
    text-decoration: none;
  }

  #facebook {

  }

  .facebook, .twitter, .instagram {
    fill: #FFF;
  }

  svg {
    height: 150px;
    width: 150px;
    padding-bottom: 2em;
  }

}

#copyright {
  text-align: center;
  font-size: 0.8em;
  padding-top: 8px;
}

#pricing {

  h1 {
    padding-top: 2em;
  }

}

.details {
  padding-bottom: 20px;
}

@media (min-width: @screen-md-min) {
  .pricing {

    .btn-primary {
      margin-right: 0px;
    }
  }
}

@media (min-width: @screen-sm-min) {

  #twitter, #instagram, #contact {
    padding-top: 20px;
    float: right;
  }

  #facebook {
    padding-top: 40px;
    float: right;
  }

  #contact {
    padding-top: 80px;
  }
}
